* {
    font-family: Tahoma, Verdana, sans-serif;
}


html,
main, 
header, 
body,
h3,
.game-choices, 
.game-choice-section, 
.player-section, 
.choose-fighter-section,
.fighter-section,
.choice-icon-container-3,
.choice-icon-container-2,
.results {
    display: flex;
}

main {
    flex-direction: row;
    justify-content: space-between;
    width: 98vw;
}

header {
    width: 50vw;
    justify-content: center;
    height: 7vh;
}

body {
    flex-direction: column;
    align-items: center;
    width: 99vw;
    height: 75%;
    background-color: black;
    background-image: url(src/empty-starfield.jpg);
    color: white;
}

h2 {
    text-align: center;
}

button {
    margin-top: 20px;
    color: white;
    background-color: rosybrown;
    width: 135px;
    height: 33px;
    border-radius: 5px;
}

.large-icon {
    height: 15vw;
    width: auto;
}

.player-icon {
    height: 5vw;
    width: auto;
}

.small-icon {
    height: 3vw;
    width: auto;
}

.choice {
    opacity: 0;
}

.choice-icon-container-3 {
    width: 36vw;
    justify-content: space-between;
}

.choice-icon-container-2 {
    width: 18vw;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.game-choices {
    /* border: solid black 1px;
    background-color: rgb(219, 165, 165);
    border-radius: 2px; */
    flex-direction: column;
    /* align-items: center; */
    width: 26vw;
    margin: 3vw;
    margin-top: 32px;
    padding: 1vw 3vw;
    min-width: 200px;
}

.game-choice-section {
    width: 60vw;
    flex-direction: column;
    align-items: center;
}

.player-section {
    margin-top: 80px;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 250px;
    min-width: 200px;
}
.player-section,
.game-choices {
    border:rgba(219, 165, 165, .9) 3px solid;
    background-color: rgba(140, 97, 97, .9);
    border-style: double;
    border-radius: 7px;

}

.choose-fighter-section {
    flex-direction: column;
    align-items: center;
}

.fighter-section {
    min-width: 400px;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

.line2 {
    padding-top: 50px;
}

.results {
    flex-direction: column;
    align-items: center;
}

.fighter-result {
    margin-top: 83px;
}

.rules-accent {
    color:rgb(198, 173, 173)
}

.game-choices .small-icon {
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}
ul {
    list-style: none;
    line-height: 2;
    padding-left: 0;
    margin-top: 0;
}
button,
.game-choices,
#choose-fighter-section .large-icon {
    cursor: pointer;
}
button:hover {
    background-color: rgb(201, 165, 165);
}